body {
  padding: 0%;
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}
  
body {
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
}
  
button {
  background-color: #fdfdfd;
  color: #102f5e;
  border: 2px solid #102f5e;
  padding: .3rem .6rem;
  font-size: 1rem;
  cursor: pointer;
  display: center;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
  
button:hover {
  background-color: #102f5e;
}
  
button:hover > i {
  color: #fff;
}
  
button i {
  color: #102f5e;
  font-weight: bold;
  pointer-events: none;
}
  
input,
select {
  padding: 0.25rem 0.5rem;
}
  
.hide {
  display: none;
}
  
.todo-container {
  max-width: 450px;
  margin: 3rem auto;
  background-color: #ffffff10;
  backdrop-filter: blur(10px);
  padding: 1.5rem;
  border-radius: 15px;
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-botton: 1px solid #ccc;
}
#todo-form, #edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: 0.3rem;
}

#cancel-edit-btn {
  margin-top: 1rem;
}

#toolbar {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
}

#toolbar h4 {
  margin-bootom: 0.5rem;
}

#search {
  border-right: 1px solid #ddd;
  padding-rigth: 1rem;
  margin-right: 1rem;
  width: flex;
  flex-direction: column;
}

#search form {
  display: flex;
  margin-right: 0.5rem;
}

#search input {
  width: 100%;
  margin: 0.3rem
}

#filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#filter select {
  flex: 1;
}